.retool-popover {
  .ant-popover-inner {
    border: 1px solid var(--gray-200);
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  .ant-popover-arrow {
    display: none;
  }

  padding-right: 0px;
  border-radius: 4px;

  .retool-popover-title {
    background-color: var(--background-surface);
    height: 36px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 8px;

    .retool-popover-title__title-text {
      min-width: 0;
      max-width: 200px;
      color: var(--gray-800);
      font-weight: 600;
      line-height: 32px;
    }

    .retool-icon {
      color: var(--gray-500);
      &:hover {
        color: var(--gray-800);
      }
    }
  }
}
.ant-popover-inner {
  border: 1px solid var(--gray-200);
}
.ant-popover-arrow {
  display: none;
  height: 0;
}
